# ignore every file in folders except the README

# System files
.DS_Store

# Environment and credentials
.env
.venv
.pytest_cache
uv.lock
credentials.json

# Python cache files
**/__pycache__/
*.py[cod]
*$py.class

last-week-in-tinycorp/**/*.wav
last-week-in-tinycorp/**/*.json
last-week-in-tinycorp/**/*.mp4
client_secrets.json
pretrained_models/
recordings.egg-info/
*.wav
*.json
*.mp3
